#!/usr/bin/make -f

version=0.17.79
archive="factorio_demo_x64_$(version).tar.xz"


%:
	dh $@

override_dh_auto_build:
	dh_auto_build

override_dh_install:
	mkdir -p debian/faktorio-demo/usr/share/games
	tar xfv $(archive) -C debian/faktorio-demo/usr/share/games
	dh_install
